.calculator {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

#display {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 20px;
}

.buttons {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    padding: 20px;
}

.calculator {
    background-color: aquamarine;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

button {
    background-color: rgb(196, 250, 206);
    width: 100%;
    padding: 20px;
    font-size: 20px;
}
